@model Xmas.Models.MembreInfo

<div class="col-md-3 col-sm-6  col-xs-6 agileinfo-team-grids">
    <img class="img-responsive" src="@Model.ImgProfil" alt="">
    <div class="team-caption">
        <div class="social-icons">
            <ul>
                <li>
                    <a href="#" class="fa fa-facebook icon-border facebook"> </a>
                </li>
                <li>
                    <a href="#" class="fa fa-twitter icon-border twitter"> </a>
                </li>
                <li>
                    <a href="#" class="fa fa-google-plus icon-border googleplus"> </a>
                </li>
                <li>
                    <a href="#" class="fa fa-rss icon-border rss"> </a>
                </li>
            </ul>
        </div>
    </div>
    <h4>@Model.Surnom</h4>
</div>
